.TransitionGroup-enter
{	
  transform: translate(100%);
}

.TransitionGroup-enter.TransitionGroup-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}

.TransitionGroup-leave {
  transform: translate(0%);
}

.TransitionGroup-leave.TransitionGroup-leave-active {
  transform: translate(-100%);
  transition: transform 1000ms ease-in-out;
}