{
  "parser": "babel-eslint",
  "extends": "airbnb",
   "rules": {
     "no-extra-semi": 0,
	 "react/jsx-filename-extension": 0,
	 "no-case-declarations": 0,
	 "comma-dangle": 0,
	 "semi": 0
   },
   "env": {
     "es6": true,
     "browser": true
   },
   "ecmaFeatures": {
     "experimentalObjectRestSpread": true
   },
   "globals": {
     "__IS_BROWSER__": true,
     "it": true,
     "describe": true,
     "afterEach": true,
     "beforeEach": true
   }
}
