{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
   ],
   "rules": {
     "no-extra-semi": 0,
     "react/jsx-filename-extension": 0,
     "react/jsx-space-before-closing": 0,
     "react/jsx-props-no-spreading": 0,
     "react/jsx-tag-spacing": 1,
     "react/prop-types": 0,
     "jsx-a11y/img-has-alt": 0,
     "img-has-alt": 0,
     "no-case-declarations": 0,
     "comma-dangle": 0,
     "padded-blocks": 0,
     "semi": 0,
     "react/jsx-no-bind": 0,
     "jsx-a11y/anchor-is-valid": 0,
     "object-curly-newline": 0,
     "no-unneeded-ternary": 0
   },
   "env": {
     "es6": true,
     "browser": true,
     "jest": true
   },
   "globals": {
     "__IS_BROWSER__": true,
     "it": true,
     "describe": true,
     "afterEach": true,
     "beforeEach": true
   },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
