.SeguidorHeading
{
  text-align: center;
  font-weight: 100;
  margin-bottom: 38px;
}

.ViewChooser
{
  margin-left: 77%;
  margin-bottom: 50px;
}

@media (min-width: 900px)
{
    .YearsVisualizer
	{
      display: flex;
	  width: 1145px;
	  margin: 0 auto;
	}
}