.SeguidorHeading
{
  text-align: center;
  font-weight: 100;
  margin-bottom: 38px;
}
	

@media (min-width: 900px) 
{	
    .YearsVisualizer 
	{
      display: flex;      
	  width: 1145px;      
	  margin: 0 auto;
	}
}