.Heading
{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

@media (min-width: 900px){
 .Container
 {
   margin: 8px;
   max-width: 300px;
   width: 254px;
 }
}

@media (max-width: 900px){
 .Container
 {
   margin: 8px;
 }
}