div .Subject
{
  width: 100%;
  text-align:center;
}

.Subject
{
  margin-bottom: 10px;
}

.SubjectNameContainer
{
  margin-bottom: 7px;
}

.Pendiente
{
  visibility: visible;
}

.Cursando
{
  visibility: visible;
}

.Firmada
{
  visibility: visible;
}

.Aprobada
{
  visibility: visible;
}

.Subject.Disabled
{
  cursor: no-drop;
  color: darkgray;
}

.Unselectable
{
  /*  Hace que el texto de la descripcion sea imposible de seleccionar. */
  user-select: none; /* non-prefixed version, currently not supported by any browser */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
}

.Disabled .SubjectCard
{
  background: gainsboro;
  height: 106px;
}

.SubjectName
{
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:14px;
}
