div .Subject
{
  width: 100%;
}

.Subject
{
  margin-bottom: 10px;
}

.Pendiente 
{
  visibility: visible;
}

.Cursando 
{
  visibility: visible;
}

.Firmada 
{
  visibility: visible;
}

.Aprobada 
{
  visibility: visible;
}


.Subject.Disabled
{
  cursor: no-drop;
  color: darkgray;
}

.Disabled .SubjectCard
{
  background: gainsboro;
}

.SubjectCard div
{
  padding: 10px;
}

.SubjectName
{
  overflow: hidden;
  text-overflow: ellipsis;
}
